/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 9, 2023, 1:45:01 AM
    Author     : Ahmed Iftekher
*/

body{
    height: 100vh;
    width: 100vw;
    background-image: url("../img/pic9.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
}
.adminBack{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,.5);
}
.adminTitle{
    color: white;
}

.adminDropdown{
    min-width: 7.5rem !important;
}

.adminNavTitle{
    color: black !important;
}
.adminSpan{
    color: rgb(38, 113, 178);
    
}

.navAdmin{
    color: rgb(38, 113, 178) !important;
}

.cardMargin{
    margin-top: 15px !important;
}

/*add md-4 in each cards*/